Repository Query-Interface/Open-KB: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines.yml

azure-pipelines-backend.yml:

# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - backend/*

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Maven@3
  displayName: 'Packaging backend for postgres'
  inputs:
    mavenPomFile: 'backend/pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/TEST-*.xml'
    goals: 'package'
    options: '-Pdb-postgres -DskipTests'

azure-pipelines.yml:

# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - frontend/*

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '8.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm run build
  displayName: 'npm install and build'
  workingDirectory: 'frontend'

- task: CopyFiles@2
  displayName: 'Copy File to: $(TargetFolder)'
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)/frontend/dist'
    Contents: |
     *
    TargetFolder: '$(System.DefaultWorkingDirectory)/dist'

- task: ArchiveFiles@2
  displayName: 'Archive $(System.DefaultWorkingDirectory)/dist'
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/dist'
    includeRootFolder: false

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: Open-KB-Front-Drop'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    artifactName: Open-KB-Front-Drop

add h2 db ijn pom for running tests
  backend/pom.xml
Due: azure-pipelines-backend.yml

first delivery for handling empty states. (Navigation, create board, ...
  backend/src/main/java/com/queryinterface/openkb/board/Board.java
  backend/src/main/java/com/queryinterface/openkb/board/BoardController.java
  backend/src/main/java/com/queryinterface/openkb/card/CardController.java
  backend/src/main/java/com/queryinterface/openkb/card/CardRepositoryCustomImpl.java
  backend/src/main/java/com/queryinterface/openkb/list/ListController.java
  backend/src/main/java/com/queryinterface/openkb/list/ListRepositoryCustomImpl.java
  frontend/Todos.md
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/app/rootReducer.ts
  frontend/src/components/Board/Board.tsx
  frontend/src/components/SiderSubMenu/SiderSubMenu.tsx
  frontend/src/features/appSlice.ts
  frontend/src/features/board/boardsDetailSlice.ts
  frontend/src/features/card/Card.tsx
  frontend/src/features/editPanel/EditBoard.tsx
  frontend/src/features/editPanel/EditCard.tsx
  frontend/src/features/editPanel/EditPanel.tsx
  frontend/src/features/editPanel/editPanelSlice.ts
  frontend/src/features/lists/List.tsx
  frontend/src/features/lists/listSlice.ts
  frontend/src/features/lists/listsSlice.ts
  frontend/src/pages/board/BoardPage.tsx
  frontend/src/pages/home/HomePage.tsx
  frontend/src/pages/home/style.css
  frontend/tsconfig.json
  frontend/webpack.config.js
Due: azure-pipelines-backend.yml, azure-pipelines.yml

add prettier which will be launched by the lint command
  frontend/.eslintrc.js
  frontend/.prettierrc.js
  frontend/package.json
  frontend/src/api/openkbApi.ts
  frontend/src/app/App.tsx
  frontend/src/app/rootReducer.ts
  frontend/src/app/store.ts
  frontend/src/components/Board/Board.tsx
  frontend/src/components/ColorPicker/ColorPicker.tsx
  frontend/src/components/SiderSubMenu/SiderSubMenu.tsx
  frontend/src/features/appSlice.ts
  frontend/src/features/board/boardsDetailSlice.ts
  frontend/src/features/card/Card.tsx
  frontend/src/features/editPanel/EditArea.tsx
  frontend/src/features/editPanel/EditBoard.tsx
  frontend/src/features/editPanel/EditCard.tsx
  frontend/src/features/editPanel/EditPanel.tsx
  frontend/src/features/editPanel/content.ts
  frontend/src/features/editPanel/editPanelSlice.ts
  frontend/src/features/lists/List.tsx
  frontend/src/features/lists/listSlice.ts
  frontend/src/features/lists/listsSlice.ts
  frontend/src/features/lists/reorder.ts
  frontend/src/index.tsx
  frontend/src/pages/board/BoardPage.tsx
  frontend/src/pages/home/HomePage.tsx
Due: azure-pipelines.yml

Fix bugs with card editing. Fix bugs with long card title
  frontend/.prettierrc.js
  frontend/Todos.md
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/features/card/Card.tsx
  frontend/src/features/card/style.css
  frontend/src/features/editPanel/editPanelSlice.ts
Due: azure-pipelines.yml

add links to home and sidebar menu
  frontend/package.json
  frontend/src/App.css
  frontend/src/app/App.tsx
  frontend/src/components/SiderSubMenu/SiderSubMenu.tsx
Due: azure-pipelines.yml

update home page
  frontend/src/pages/home/HomePage.tsx
  frontend/src/pages/home/style.css
Due: azure-pipelines.yml

Enable native compilation with graalvm
  .gitignore
  backend/pom.xml
  backend/set-env-native.ps1
  backend/src/main/config/native/application.properties
  backend/src/main/config/native/hibernate.properties
  backend/src/main/java/com/queryinterface/openkb/DemoDataCLR.java
  backend/src/main/java/com/queryinterface/openkb/OpenKbApplication.java
  backend/src/main/java/com/queryinterface/openkb/board/BoardController.java
  backend/src/main/java/com/queryinterface/openkb/card/CardRepositoryImpl.java
  backend/src/main/java/com/queryinterface/openkb/config/HsqlDbConfiguration.java
  backend/src/main/java/com/queryinterface/openkb/list/ListRepositoryImpl.java
  backend/src/main/resources/META-INF/native-image/proxy-config.json
  backend/src/main/resources/META-INF/native-image/reflect-config.json
  backend/src/main/resources/META-INF/native-image/resource-config.json
  backend/src/main/resources/db/schema.sql
  backend/src/test/java/com/queryinterface/openkb/OpenKbApplicationTests.java
Due: azure-pipelines-backend.yml

Add pipeline for building backend as a native application
  azure-pipeline-native.yml
Due: none

Update azure-pipeline-native.yml
  azure-pipeline-native.yml
Due: none

Update JDK version for azure-pipeline-native.yml
  azure-pipeline-native.yml
Due: none

Update JDK path for azure-pipeline-native.yml
  azure-pipeline-native.yml
Due: none

Add graalvm install and compilation for windows azure-pipeline-native.yml
  azure-pipeline-native.yml
Due: none

Update azure-pipeline-native.yml for Azure Pipelines
  azure-pipeline-native.yml
Due: none

Adapt pipeline commands to azure environment.
  azure-pipeline-native.yml
Due: none

add an option to maven to avoid connection reset when downloading artifacts
  azure-pipeline-native.yml
Due: none

update maven wrapper to get maven 3.6.3 (since version 3.6.1 or upper) is required for Azure
  backend/.mvn/wrapper/MavenWrapperDownloader.java
  backend/.mvn/wrapper/maven-wrapper.jar
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
Due: azure-pipelines-backend.yml

add a parent pom for buidling all projects
  backend/pom.xml
  backend/src/main/java/com/queryinterface/openkb/list/ListRepositoryImpl.java
  frontend/.gitignore
  frontend/package.json
  frontend/pom.xml
  pom.xml
Due: azure-pipelines-backend.yml, azure-pipelines.yml

Made editArea easier to use; implement add Board capabilty
  frontend/src/features/appSlice.ts
  frontend/src/features/editPanel/EditArea.tsx
  frontend/src/features/editPanel/EditBoard.tsx
  frontend/src/features/editPanel/EditPanel.tsx
  frontend/src/features/editPanel/editPanelSlice.ts
  frontend/src/features/lists/listSlice.ts
  frontend/src/pages/home/HomePage.tsx
Due: azure-pipelines.yml
